extends ./inc/header

block vars
  -var bodyClass = 'bulk-page'
  -var pageName = 'Bulk URL Shortener'

block content

  form
    div.form-group
      label URLs
      textarea#longurl(class='form-control',name='url',rows='10',placeholder='enter ONE URL per line')
    button.btn.btn-primary(onclick='bulkShort();return false;') Submit
  
  table.table.table-striped#output-table
    thead
      tr
        th Long URL
        th Short URL
    tbody
  
  .clearfix
block append body
  include ./inc/footer.jade
