extends ./inc/header

block vars
  -var bodyClass = 'bulk-page'
  -var pageName = 'Bulk URL Shortener'

block content

  form#bulk-url-form
    div.form-group
      label URLs
      textarea#longurl(class='form-control',name='url',rows='10',placeholder='enter ONE URL per line')
    button.btn.btn-primary Submit
  
  
  button#export.pull-right.btn.btn-primary(disabled='disabled',download='Processed-URLs.xls') Export
  table.table.table-bordered.table-striped#output-table
    thead.noExl
      tr
        th #
        th Long URL
        th Short URL
    tbody
      tr
        td &nbsp;
        td &nbsp;
        td &nbsp;
  
block append body
  include ./inc/footer.jade
