extends ./inc/header

block vars
  -var bodyClass = 'single-page'
  -var pageName = 'Single URL Shortener'

block content

  form
    div.form-group
      label(for='longurl') URL
      input#longurl.form-control(type='text',name='url',placeholder='enter single URL here')
    button.btn.btn-primary(onclick='makeShort();return false;') Submit
  
  table.table.table-striped#output-table
    thead
      tr
        th Long URL
        th Short URL
    tbody
  
  .clearfix
block append body
  include ./inc/footer.jade
