#footer.container
  #copyright
    p
      | Originally created by 
      a(href='http://bleucellar.com',target='_blank') Miguel Estrada
    p 
      | Visit this project on 
      a(href='https://github.com/mae829/url-shortener',target='_blank') GitHub
