block vars
doctype html
html.no-js(lang='en')
  head
    title #{pageName} - URL Shortener
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    //
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='https://apis.google.com/js/client.js')
    script(src='output.min.js')

  body(class='#{bodyClass}')
    block body
      
      header#header.container
        h1 URL Shortener
        
        nav
          ul.nav.nav-pills
            li(class=(bodyClass == 'single-page' ? 'active' : '')): a(href='index.html') Single URL
            li(class=(bodyClass == 'bulk-page' ? 'active' : '')): a(href='bulk-processor.html') Bulk Processor
        div.clearfix

      #content.container
        block content
