block vars
doctype html
html.no-js(lang='en')
  head
    title {bodyClass} - URL Shortener
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    //
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='https://apis.google.com/js/client.js')
    script(src='output.min.js')

  body(class='#{bodyClass}')
    block body
      
      header#header
          nav
            ul
              li: a(href='index.html', class=(bodyClass == 'home-page' ? 'active-page' : '')) Single URL
          div.clearfix

      #output
        block content
